 # python
.python-version
*.egg-info
__pycache__/
*.py[cod]
dist

# macOS
.DS_Store

# others
logdir
logs
models
outputs
runs
wandb

# vim
*.swp
*.swo
.lvimrc

# jupyter
*.ipynb_checkpoints

# testing/coverage
.coverage
htmlcov
.hypothesis

# type checking
.mypy_cache
.dmypy.json

# env
.envrc
venv

# IDE
.idea/

# misc
build
*.pth
*.pkl
*.so

# fpo/phc
fpo/phc/experiments/
fpo/phc/logs/
fpo/phc/wandb/
fpo/phc/smpl/
fpo/phc/gymtorch/build/
fpo/phc/gymtorch/dist/
fpo/phc/.pixi/
fpo/phc/pixi.lock
